h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.background{
    background-color: rgb(229, 233, 183);
}
p{
    font-size: 600;
    font-size: 3em;
    font-style: italic;
    line-height:50px;
   
}
body{
    font-weight: 16px;
}
ul{
    text-align: center;
    text-decoration: underline;
    list-style: none;
}
.am{
    background-color: yellow;
}
.ve{
    background-color: red;
}
.ma{
    background-color: brown;
}
